<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'users/sidebar', user: @user %>
      <%= render 'form', book: @book %>
    </div>
    <div class="col-8 ml-auto">
      <h2>Book Detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image(100, 100) %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-info btn-sm col-1 mx-auto'%></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-info btn-sm col-1 mx-auto'%></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>